# .gitignore

# Ignore target folder
target/

# Exclude Maven wrapper but include its .jar file
!.mvn/wrapper/maven-wrapper.jar

# Include target folders inside src/main and src/test
!**/src/main/**/target/
!**/src/test/**/target/

# STS (Spring Tool Suite) files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA files
.idea
*.iws
*.iml
*.ipr

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code files
.vscode/

